<div class="seller-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign-up</h1>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name" />
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password" />
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email" />
            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account?Click to Login</a>
        </form>
    </div>
    <!--Login area-->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>

        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email" />
            <input class="form-input " type="password" ngModel name="password" placeholder="Enter Password" />

            <button class="form-button">login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Dont Have Account?Click to signUp</a>
        </form>
    </div>
</div>                     